data/train
data/small_train
data/smaller_train
data/test_stg1
data/sample_submission_stg1.csv

Pipeline/bb_data
Pipeline/data/train
Pipeline/data/cropped
Pipeline/data/resized
Pipeline/data/test_stg1
Pipeline/data/train_smaller


*.h5py
*.hdf5
*.h5

*.pyc
**/*.pyc


*.ipynb_checkpoints


.DS_Store
