data/train
data/small_train
data/smaller_train
data/test_stg1
data/sample_submission_stg1.csv

Pipeline/data/train
Pipeline/data/train_smaller


*.h5py
*.hdf5

*.pyc
**/*.pyc


*.ipynb_checkpoints


.DS_Store
